#container {
    width: 800px;
    margin: 0 auto;
}

canvas#canvas {
    float: right;
    width: 800px;
    height: 600px;
}

#controls {
    float: right;
}

#gravity-controls {
    height: 500px;
    width: 240px;
    float: left;
}

textarea#gravity-text {
    width: 240px;
    height: 413px;
    resize: none;
}

button#gravity-submit {
    margin-top: -9px;
}